In [1]:
import pandas as pd
df = pd.read_csv('mldata_set.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [3]:
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [4]:
x = df[['age','gender']]
y = df['likeness']

In [5]:
x.head()

   age  gender
0   27       1
1   41       1
2   29       1
3   27       1
4   29       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(x,y)
model.predict([[28, 1]])

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [8]:
model.predict([[35, 0]])

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [9]:
model.predict([[49, 0]])

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=1)

model = DecisionTreeClassifier()

model.fit(x_train,y_train)
predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
score

0.5918367346938775

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

model = DecisionTreeClassifier()

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test,predicted_values)
score

0.5714285714285714

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=20, random_state=1)

model = DecisionTreeClassifier().fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
score

0.55

In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x,y)

joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

In [14]:
joblib.load('foodie.joblib')

DecisionTreeClassifier()

In [15]:
from sklearn import tree
model = DecisionTreeClassifier().fit(x, y)

tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label="all",
                    rounded=True,
                    filled=True)