In [1]:
import pandas as pd
df = pd.read_csv('mldata_set.csv')
df

     age   height  weight  gender likeness
0     27  170.688    76.0    Male  Biryani
1     41  165.000    70.0    Male  Biryani
2     29  171.000    80.0    Male  Biryani
3     27  173.000   102.0    Male  Biryani
4     29  164.000    67.0    Male  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0    Male   Pakora
241   26  172.000    70.0    Male  Biryani
242   40  178.000    80.0    Male  Biryani
243   25    5.700    65.0    Male  Biryani
244   33  157.000    56.0  Female   Samosa

[245 rows x 5 columns]

In [2]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female',0)

In [3]:
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [4]:
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [6]:
x = df[['age', 'gender']]
y = df['likeness']

In [7]:
x.head()

   age  gender
0   27       1
1   41       1
2   29       1
3   27       1
4   29       1

In [8]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [21]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7)

model = model.fit(x,y)

predicted_values = model.predict([[90,0]])
predicted_values

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=10)
model.fit(x,y)

predicted_values = model.predict([[23,1]])
predicted_values

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

model = KNeighborsClassifier()

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
print('the accuracy score is = ', score)

the accuracy score is =  0.6938775510204082

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)
model = KNeighborsClassifier(n_neighbors=5)

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
print('The accuracy score is = ', score)

The accuracy score is =  0.6621621621621622

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)
model = KNeighborsClassifier(n_neighbors=10)

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
print('The accuracy score is = ', score)

The accuracy score is =  0.7162162162162162

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)
model = KNeighborsClassifier(n_neighbors=15)

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
print('The accuracy score is = ', score)

The accuracy score is =  0.6486486486486487

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)
model = KNeighborsClassifier(n_neighbors=20)

model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
print('The accuracy score is = ', score)

The accuracy score is =  0.6621621621621622